/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

/****** CSS RESET START ******/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote::before,
blockquote::after,
q::before,
q::after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/****** CSS RESET END ******/

img {
  max-width: 100%;
  height: auto;
}

#latest-section,
#funding-section {
  max-width: 1152px;
  margin: 0 auto;
}

h2 {
  box-sizing: border-box;
  margin-left: 8px;
  color: rgb(255, 68, 34);
  cursor: pointer;
  font-family: Avalon, sans-serif;
  font-size: 28px;
  font-stretch: 100%;
  font-weight: 700;
  letter-spacing: -0.42px;
  line-height: 30.8px;
  outline-color: rgb(255, 68, 34);
  outline-style: none;
  text-rendering: optimizelegibility;
  vertical-align: baseline;
}

h2::after {
  background-image: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16"><path fill="none" stroke="%23F42" stroke-width="3" stroke-miterlimit="10" d="M4.75 1.5l6.5 6.5-6.5 6.5"/></svg>');
  background-size: 16px 16px;
  content: '';
  display: inline-block;
  height: 16px;
  margin-left: 4px;
  position: relative;
  z-index: -1;
  top: 0;
  width: 16px;
}

h2:hover {
  color: black;
}

h2:hover::after {
  background-image: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16"><path fill="none" stroke="%23000" stroke-width="3" stroke-miterlimit="10" d="M4.75 1.5l6.5 6.5-6.5 6.5"/></svg>');
  background-size: 16px 16px;
  content: '';
  display: inline-block;
  height: 16px;
  margin-left: 4px;
  position: relative;
  top: 0;
  width: 16px;
}

/****** NAVBAR START ******/

header {
  box-sizing: border-box;
  height: 48px;
  z-index: 11;
  box-shadow: 0 0 32px rgba(0, 0, 0, 0.15);
}

#mobile-nav {
  position: fixed;
  display: flex;
  width: 100%;
  align-items: center;
  top: 0;
  right: 0;
  height: 48px;
  background-color: white;
  z-index: 10;
}

#logo-div {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 106px;
  height: 48px;
  background-image: linear-gradient(
    to right bottom,
    rgb(204, 0, 153),
    rgb(255, 68, 34) 85%
  );
  cursor: pointer;
}

#logo {
  box-sizing: border-box;
  color: rgb(255, 68, 34);
  font-size: 14px;
  font-stretch: 100%;
  font-weight: 400;
  height: 16px;
  line-height: 21px;
  max-width: 100%;
}

#icons {
  display: flex;
  align-items: center;
  margin-left: auto;
}

.nav-icon {
  font-size: 25px;
  padding: 11.5px;
  border-left: 1px solid rgb(238, 238, 238);
  cursor: pointer;
}

.fa-bars {
  color: rgb(255, 68, 34);
  font-size: 20px;
}

.fa-search {
  color: #bbb;
  font-size: 20px;
}

.fa-search:hover {
  color: #777;
}

@media screen and (min-width: 768px) {
  header {
    height: 80px;
  }

  #mobile-nav {
    display: none;
  }

  #desktop-nav {
    display: flex;
    flex-direction: row;
    height: 80px;
  }

  #nav-bars {
    height: 80px;
    width: 100%;
  }

  #black-nav {
    display: flex;
    height: 32px;
    width: 100%;
    background-color: black;
  }

  #white-nav {
    height: 48px;
    width: 100%;
  }

  #black-nav a:first-child {
    color: white;
    margin-left: 18px;
  }

  #white-nav a:first-child {
    margin-left: 6px;
  }

  #black-nav a:last-child {
    padding-right: 20px;
  }

  .black-nav-link {
    color: hsla(0, 0%, 100%, 0.6);
    cursor: pointer;
    font-family: 'Work Sans', serif;
    font-size: 13px;
    font-stretch: 100%;
    font-weight: 400;
    line-height: 32px;
    text-decoration: none;
    margin-left: 12px;
  }

  #black-nav a:nth-child(7) {
    margin-left: auto;
  }

  .black-nav-link:hover {
    color: white;
  }

  .white-nav-link {
    color: rgb(170, 170, 170);
    cursor: pointer;
    font-family: 'Rajdhani', sans-serif;
    font-size: 15px;
    font-stretch: 100%;
    font-weight: 500;
    letter-spacing: 0.56px;
    line-height: 48px;
    padding: 0 12px;
    text-decoration: none;
    text-transform: uppercase;
    vertical-align: middle;
  }

  .white-nav-link:hover {
    color: black;
  }

  #big-logo-div {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 106px;
    height: 80px;
    background-image: linear-gradient(
      to right bottom,
      rgb(204, 0, 153),
      rgb(255, 68, 34) 85%
    );
    cursor: pointer;
  }

  #big-logo {
    box-sizing: border-box;
    color: rgb(255, 68, 34);
    font-size: 14px;
    font-stretch: 100%;
    font-weight: 400;
    height: 16px;
    line-height: 21px;
    max-width: 100%;
  }
}

/****** NAVBAR END ******/

/****** MAIN ARTICLES START ******/

#main-articles {
  box-sizing: border-box;
  display: grid;
  grid-template-columns: auto;
  row-gap: 10px;
  padding: 10px;
  height: 620px;
}

#main-articles > * {
  cursor: pointer;
}

#main-article-1 {
  background-image: linear-gradient(
      to bottom,
      rgba(255, 255, 255, 0),
      rgb(0, 0, 0)
    ),
    url(./assets/images/tiktok.jpg);
  background-size: cover;
}

#main-article-2 {
  background-image: linear-gradient(
      to bottom,
      rgba(255, 255, 255, 0),
      rgb(0, 0, 0)
    ),
    url(./assets/images/eruptions.jpg);
  background-size: cover;
}

#main-article-3 {
  background-image: linear-gradient(
      to bottom,
      rgba(255, 255, 255, 0),
      rgb(0, 0, 0)
    ),
    url(./assets/images/hack.jpg);
  background-size: cover;
}

.main-content {
  position: relative;
  top: 45%;
  padding: 10px;
}

.main-date {
  margin-top: 5px;
  color: rgba(255, 255, 255, 0.6);
  cursor: pointer;
  font-family: 'Work Sans', sans-serif;
  font-size: 12px;
  font-stretch: 100%;
  font-weight: 400;
  line-height: 16px;
}

.main-headline {
  color: rgb(255, 255, 255);
  cursor: pointer;
  font-family: 'Work Sans', sans-serif;
  font-size: 20px;
  font-stretch: 100%;
  font-weight: 600;
  line-height: 22px;
  outline-color: rgb(255, 255, 255);
  outline-style: none;
  text-align: left;
  text-decoration-color: rgb(255, 255, 255);
  text-decoration-line: none;
  text-decoration-style: solid;
  text-rendering: optimizelegibility;
  vertical-align: baseline;
}

@media (min-width: 768px) {
  .main-content {
    padding-right: 20px;
  }

  article #main-content-2,
  article #main-content-3 {
    position: relative;
    top: 30%;
  }

  #main-articles {
    display: grid;
    grid-template-areas:
      'main-article-1 main-article-1 main-article-2'
      'main-article-1 main-article-1 main-article-3';
    column-gap: 10px;
    height: 410px;
  }

  #main-content-1 {
    top: 70%;
    padding-right: 20px;
  }

  #main-headline {
    font-size: 30px;
    line-height: 35px;
    font-weight: 700;
  }

  #main-article-1 {
    grid-area: main-article-1;
  }

  #main-article-2 {
    grid-area: main-article-2;
  }

  #main-article-3 {
    grid-area: main-article-3;
  }
}

@media (min-width: 1024px) {
  #main-content-1 {
    padding-right: 40px;
  }

  #main-articles {
    display: grid;
    grid-template-areas:
      'main-article-1 main-article-1 main-article-2'
      'main-article-1 main-article-1 main-article-3';
    column-gap: 10px;
    height: 510px;
  }

  article #main-content-2,
  article #main-content-3 {
    position: relative;
    top: 48%;
  }

  #main-article-1 {
    grid-area: main-article-1;
  }

  #main-article-2 {
    grid-area: main-article-2;
  }

  #main-article-3 {
    grid-area: main-article-3;
  }
}

/****** MAIN ARTICLES END ******/

/****** LATEST ARTICLES START ******/

#latest-section {
  margin-top: 50px;
}

#latest-section h2 {
  margin-left: 20px;
}

#latest-articles {
  margin: 20px;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
}

.latest-image {
  box-sizing: border-box;
  display: inline-block;
  width: 72px;
  height: 72px;
  object-fit: cover;
  margin-right: 8px;
}

.latest-article-headline {
  display: inline-block;
  color: rgb(0, 0, 0);
  cursor: pointer;
  font-family: 'Work Sans', serif;
  font-size: 14px;
  font-stretch: 100%;
  font-weight: 600;
  line-height: 18px;
}

.latest-article-headline:hover {
  text-decoration: underline;
  text-decoration-color: rgba(255, 68, 34, 0.25);
  text-decoration-thickness: 1px;
  text-underline-offset: 2px;
  color: rgb(255, 68, 34);
}

.latest-article {
  display: flex;
  cursor: pointer;
}

.latest-article div {
  margin-top: 2px;
}

.latest-article-date {
  margin-top: 3px;
  color: rgb(170, 170, 170);
  cursor: pointer;
  font-family: 'Work Sans', serif;
  font-size: 12px;
  font-stretch: 100%;
  font-weight: 300;
  line-height: 18px;
}

@media screen and (max-width: 767px) {
  .latest-article {
    height: 72px;
    margin-bottom: 12px;
  }
}

@media screen and (min-width: 768px) {
  #latest-articles {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto;
    gap: 20px;
  }

  .latest-article {
    min-height: 217px;
    height: 25vw;
    max-height: 222px;
    display: flex;
    flex-direction: column;
  }

  .latest-image {
    width: 100%;
    min-height: 115px;
    height: 14vw;
    max-height: 158px;
    margin-bottom: 5px;
  }
}

@media screen and (min-width: 1024px) {
  #latest-articles {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: auto;
  }

  .latest-article {
    height: 230px;
  }

  .latest-image {
    width: 100%;
    min-height: 115px;
    height: 14vw;
    max-height: 135px;
    margin-bottom: 5px;
  }
}

/****** LATEST ARTICLES END ******/

/****** LATEST FUNDING START ******/

#fundings {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  row-gap: 15px;
  margin: 10px;
}

.funding:last-child {
  display: none;
}

.funding {
  min-height: 220px;
  background-color: rgb(254, 250, 248);
}

.funding-headline-div {
  display: flex;
  min-height: 102px;
  background-image: linear-gradient(
    to bottom,
    rgb(255, 68, 34) 45%,
    rgba(255, 68, 34, 0.08) 45% 100%
  );
}

.funding-headline-div > div {
  width: 68.1%;
}

.funding-headline-div img {
  display: block;
  width: 65px;
  height: 65px;
  object-fit: cover;
  position: relative;
  margin-top: 10px;
  margin-left: 10px;
}

.funding-headline-1 {
  color: rgb(255, 255, 255);
  cursor: pointer;
  font-family: 'Work Sans', serif;
  font-size: 18px;
  font-stretch: 100%;
  font-weight: 600;
  line-height: 22.5px;
  margin-top: 10px;
  margin-left: 12px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  width: 95%;
}

.funding-headline-2 {
  color: rgb(0, 0, 0);
  cursor: pointer;
  font-family: 'Work Sans', serif;
  font-size: 18px;
  font-stretch: 100%;
  font-weight: 600;
  line-height: 22.5px;
  margin-top: 26px;
  margin-left: 12px;
}

.funding-series {
  margin-left: 13px;
  color: rgba(0, 0, 0, 0.6);
  cursor: pointer;
  font-family: 'Rajdhani', sans-serif;
  font-size: 12px;
  font-stretch: 100%;
  font-weight: 500;
  letter-spacing: 0.44px;
  line-height: 16.5px;
  text-transform: uppercase;
  padding-bottom: 5px;
}

.funding-tags {
  padding-top: 18px;
  padding-left: 16px;
  padding-bottom: 15px;
  border-bottom: 1px solid rgba(255, 68, 34, 0.25);
}

.funding-tags p span {
  color: rgb(85, 85, 85);
  cursor: pointer;
  font-family: 'Work Sans', serif;
  font-size: 13px;
  font-stretch: 100%;
  font-weight: 400;
  line-height: 22px;
}

.funding-tags p span:hover {
  color: black;
}

.funding-tags p i {
  margin-right: 8px;
}

.funding-tags p:first-child {
  margin-bottom: 6.5px;
}

.funder {
  padding: 11px 18px;
  color: rgb(85, 85, 85);
  cursor: pointer;
  font-family: 'Work Sans' serif;
  font-size: 13px;
  font-stretch: 100%;
  font-weight: 300;
  line-height: 18px;
}

.funder span {
  color: rgb(170, 170, 170);
  cursor: pointer;
  font-family: 'Work Sans' serif;
  font-size: 12px;
  font-stretch: 100%;
  font-weight: 400;
}

#funding-section h2 {
  display: inline-block;
  margin-top: 10px;
  margin-left: 11px;
  margin-bottom: 15px;
}

.funding-link {
  display: block;
  margin-left: 10px;
  box-sizing: border-box;
  color: rgb(255, 68, 34);
  cursor: pointer;
  font-family: 'Work Sans', sans-serif;
  font-size: 14px;
  font-stretch: 100%;
  font-weight: 400;
  height: 32px;
  line-height: 18px;
  text-decoration: none;
}

.funding-link:hover {
  color: black;
}

@media screen and (min-width: 768px) {
  .funding-link {
    display: inline;
    box-sizing: border-box;
    color: rgb(255, 68, 34);
    cursor: pointer;
    font-family: 'Work Sans', sans-serif;
    font-size: 16px;
    font-stretch: 100%;
    font-weight: 400;
    line-height: 18px;
    text-decoration-line: none;
    text-rendering: optimizelegibility;
    vertical-align: baseline;
  }

  .funding-link:nth-child(1),
  .funding-link:nth-child(2) {
    border-right: 1px solid rgb(255, 68, 34);
    padding-right: 15px;
  }
}

@media screen and (min-width: 1024px) {
  #funding-section-headline {
    display: flex;
  }

  #funding-links {
    margin-left: auto;
    display: inline-block;
    align-self: center;
    margin-right: 10px;
  }

  .funding-link {
    display: inline;
    box-sizing: border-box;
    color: rgb(255, 68, 34);
    cursor: pointer;
    font-family: 'Work Sans', sans-serif;
    font-size: 16px;
    font-stretch: 100%;
    font-weight: 400;
    line-height: 18px;
    text-decoration-line: none;
    text-rendering: optimizelegibility;
    vertical-align: baseline;
  }

  .funding-link:nth-child(1),
  .funding-link:nth-child(2) {
    border-right: 1px solid rgb(255, 68, 34);
    padding-right: 15px;
  }

  .latest-article-headline {
    font-size: 16px;
    margin-bottom: 3px;
  }

  .latest-article-date {
    font-size: 13px;
  }
}

@media screen and (min-width: 768px) {
  #fundings {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 20px;
    margin: 10px;
  }
}

@media screen and (min-width: 1024px) {
  #fundings {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 20px;
    margin: 10px;
  }

  .funding:last-child {
    display: block;
  }
}

/****** LATEST FUNDING END ******/

/****** SECTIONS START ******/

#sections {
  margin: 17px;
}

.most-popular {
  background-image: linear-gradient(
      to bottom,
      rgba(255, 255, 255, 0),
      rgb(0, 0, 0)
    ),
    url(./assets/images/apps.png);
  background-size: cover;
  width: 100%;
  height: 70vw;
  min-height: 345px;
  max-height: 545px;
}

#hard-fork {
  background-image: linear-gradient(
      to bottom,
      rgba(255, 255, 255, 0),
      rgb(0, 0, 0)
    ),
    url(./assets/images/hard-fork.jpeg);
  background-size: cover;
}

#gear {
  background-image: linear-gradient(
      to bottom,
      rgba(255, 255, 255, 0),
      rgb(0, 0, 0)
    ),
    url(./assets/images/gear.png);
  background-size: cover;
}

#tech {
  background-image: linear-gradient(
      to bottom,
      rgba(255, 255, 255, 0),
      rgb(0, 0, 0)
    ),
    url(./assets/images/tech.jpg);
  background-size: cover;
}

#podium {
  background-image: linear-gradient(
      to bottom,
      rgba(255, 255, 255, 0),
      rgb(0, 0, 0)
    ),
    url(./assets/images/podium.jpeg);
  background-size: cover;
}

#insights {
  background-image: linear-gradient(
      to bottom,
      rgba(255, 255, 255, 0),
      rgb(0, 0, 0)
    ),
    url(./assets/images/insights.jpg);
  background-size: cover;
}

#creative {
  background-image: linear-gradient(
      to bottom,
      rgba(255, 255, 255, 0),
      rgb(0, 0, 0)
    ),
    url(./assets/images/creative.jpg);
  background-size: cover;
}

#launch {
  background-image: linear-gradient(
      to bottom,
      rgba(255, 255, 255, 0),
      rgb(0, 0, 0)
    ),
    url(./assets/images/launch.png);
  background-size: cover;
}

#distract {
  background-image: linear-gradient(
      to bottom,
      rgba(255, 255, 255, 0),
      rgb(0, 0, 0)
    ),
    url(./assets/images/distract.jpg);
  background-size: cover;
}

.section {
  margin-bottom: 20px;
}

.section h2 {
  margin-left: 0;
  margin-bottom: 15px;
}

.most-popular {
  cursor: pointer;
}

.most-popular-line {
  box-sizing: border-box;
  color: rgb(255, 255, 255);
  font-family: 'Rajdhani', sans-serif;
  font-size: 15px;
  font-stretch: 100%;
  font-weight: 500;
  letter-spacing: 0.52px;
  line-height: 19.5px;
  pointer-events: none;
  text-align: left;
  text-rendering: optimizelegibility;
  text-transform: uppercase;
  vertical-align: baseline;
}

.most-popular-headline {
  color: rgb(255, 255, 255);
  cursor: pointer;
  font-family: 'Work Sans', sans-serif;
  font-size: 20px;
  font-stretch: 100%;
  font-weight: 600;
  line-height: 22px;
  outline-color: rgb(255, 255, 255);
  outline-style: none;
  text-align: left;
  text-decoration-color: rgb(255, 255, 255);
  text-decoration-line: none;
  text-decoration-style: solid;
  text-rendering: optimizelegibility;
  vertical-align: baseline;
}

.most-popular-headline:hover {
  text-decoration: underline;
  text-decoration-color: #777;
  text-decoration-thickness: 1px;
  text-underline-offset: 2px;
}

.author-date {
  margin-top: 5px;
  color: rgba(255, 255, 255, 0.6);
  cursor: pointer;
  font-family: 'Work Sans', sans-serif;
  font-size: 12px;
  font-stretch: 100%;
  font-weight: 500;
  line-height: 16px;
}

.most-popular-content {
  display: block;
  position: relative;
  top: 70%;
  left: 10px;
  padding: 15px;
}

.latest {
  padding-top: 15px;
  padding-left: 15px;
  height: 96px;
  background-color: rgb(254, 245, 243);
}

.latest-line {
  box-sizing: border-box;
  color: rgb(255, 68, 34);
  font-family: 'Rajdhani', sans-serif;
  font-size: 15px;
  font-stretch: 100%;
  font-weight: 500;
  height: 19px;
  letter-spacing: 0.52px;
  text-transform: uppercase;
  margin-bottom: 2px;
}

.latest-headline {
  color: rgb(255, 68, 34);
  cursor: pointer;
  font-family: 'Work Sans', sans-serif;
  font-size: 14px;
  font-stretch: 100%;
  font-weight: 600;
  line-height: 17.5px;
}

.latest-headline:hover {
  text-decoration: underline;
  text-decoration-color: rgb(255, 68, 34);
  text-decoration-thickness: 1px;
  text-underline-offset: 2px;
}

.more-news {
  color: rgba(85, 85, 85, 0.8);
  cursor: pointer;
  font-family: 'Work Sans', sans-serif;
  font-size: 13px;
  font-stretch: 100%;
  font-weight: 400;
  line-height: 19.5px;
  border-bottom: 1px solid rgba(85, 85, 85, 0.2);
  padding: 4px 0;
}

.more-news:hover {
  color: black;
}

.more-news::before {
  border-radius: 50%;
  margin-right: 5px;
  content: '•';
  font-size: 14px;
  color: #f42;
}

@media screen and (min-width: 768px) {
  #sections {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    column-gap: 10px;
    row-gap: 30px;
    margin: 50px 15px 0 15px;
  }

  .section {
    margin: 5px;
  }

  .most-popular {
    height: 35vw;
    min-height: 265px;
    max-height: 360px;
  }

  .most-popular-content {
    position: relative;
    top: 50%;
    left: 10px;
  }
}

@media screen and (min-width: 1024px) {
  #sections {
    max-width: 1127px;
    display: grid;
    justify-content: center;
    margin: 0 auto;
    margin-top: 60px;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
    column-gap: 10px;
    row-gap: -10px;
  }

  .most-popular {
    height: 22vw;
    min-height: 234px;
    max-height: 276px;
  }

  .most-popular-content {
    display: block;
    position: relative;
    top: 39%;
    left: 10px;
    padding: 15px;
  }
}

/****** SECTIONS END ******/

/****** LATEST DEALS START ******/

#latest-deals-section {
  margin-top: 50px;
}

#latest-deals-section h2 {
  margin-left: 20px;
}

#latest-deals-section-headline {
  display: flex;
}

#latest-deals-section-headline p {
  align-self: center;
  margin-left: auto;
  margin-right: 20px;
  color: rgb(255, 68, 34);
  cursor: pointer;
  font-family: 'Work Sans', serif;
  font-size: 14px;
  font-stretch: 100%;
  font-weight: 400;
  line-height: 18px;
}

#latest-deals-section-headline p:hover {
  color: black;
}

#latest-deals {
  margin: 20px;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  row-gap: 15px;
}

.latest-deal-image {
  box-sizing: border-box;
  display: inline-block;
  width: 72px;
  height: 72px;
  object-fit: cover;
  margin-right: 8px;
}

.latest-deal-headline {
  display: inline-block;
  color: rgb(0, 0, 0);
  cursor: pointer;
  font-family: 'Work Sans', serif;
  font-size: 15px;
  font-stretch: 100%;
  font-weight: 600;
  line-height: 18px;
  margin-bottom: 5px;
}

.latest-deal-headline:hover {
  text-decoration: underline;
  text-decoration-color: rgba(255, 68, 34, 0.25);
  text-decoration-thickness: 1px;
  text-underline-offset: 2px;
  color: rgb(255, 68, 34);
}

.latest-deal {
  display: flex;
  cursor: pointer;
}

.latest-deal div {
  margin-top: 2px;
}

.old-price {
  color: rgb(170, 170, 170);
  display: inline;
  font-family: 'Work Sans', serif;
  font-size: 12.5px;
  font-stretch: 100%;
  font-weight: 400;
  line-height: 18px;
  margin-right: 6px;
  text-align: left;
  text-decoration-color: rgb(170, 170, 170);
  text-decoration-line: line-through;
  text-decoration-style: solid;
}

.new-price {
  color: rgba(85, 85, 85, 0.9);
  display: inline;
  font-family: 'Work Sans', serif;
  font-size: 14.5px;
  font-stretch: 100%;
  font-weight: 400;
  line-height: 18px;
}

@media screen and (max-width: 767px) {
  .latest-deal {
    height: 72px;
    margin-bottom: 12px;
  }
}

@media screen and (min-width: 768px) {
  #latest-deals {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto;
    gap: 20px;
  }

  .latest-deal {
    min-height: 217px;
    height: 25vw;
    max-height: 222px;
    display: flex;
    flex-direction: column;
  }

  .latest-deal-image {
    width: 100%;
    min-height: 115px;
    height: 14vw;
    max-height: 158px;
    margin-bottom: 5px;
  }
}

@media screen and (min-width: 1024px) {
  #latest-deals-section {
    max-width: 1157px;
    margin: 0 auto;
    margin-top: 60px;
  }

  #latest-deals {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: auto;
  }

  .latest-deal {
    height: 230px;
  }

  .latest-deal-image {
    width: 100%;
    min-height: 115px;
    height: 14vw;
    max-height: 135px;
    margin-bottom: 5px;
  }
}

/****** LATEST DEALS END ******/

/****** FOOTER START ******/

footer {
  margin-top: 80px;
  width: 100%;
  height: 258px;
}

#upper-footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 91px;
  padding-top: 42px;
  padding-bottom: 28px;
  background-color: rgb(19, 19, 19);
}

#upper-footer #social-icons {
  color: rgb(85, 85, 85);
  display: block;
  font-size: 14px;
  height: 45px;
  line-height: 21px;
  list-style-image: none;
  list-style-position: outside;
  list-style-type: none;
  margin-block-end: 21px;
  margin-block-start: 0px;
  margin-bottom: 21px;
}

#upper-footer #social-icons li {
  cursor: pointer;
  color: rgb(85, 85, 85);
  background-color: rgb(51, 51, 51);
  border-bottom-left-radius: 50%;
  border-bottom-right-radius: 50%;
  border-top-left-radius: 50%;
  border-top-right-radius: 50%;
  border: 2px solid rgb(51, 51, 51);
  display: inline-block;
  line-height: 21px;
  list-style-image: none;
  list-style-position: outside;
  list-style-type: none;
  margin-left: 8px;
  margin-right: 8px;
  padding-bottom: 12px;
  padding-left: 12px;
  padding-right: 12px;
  padding-top: 12px;
  text-align: center;
  color: white;
}

#upper-footer #social-icons li:hover {
  background-color: black;
}

#upper-footer #social-icons li:nth-child(3) i {
  position: relative;
  left: -2.5px;
}

#upper-footer #social-icons li:last-child i {
  position: relative;
  left: -1.5px;
}

.footer-icon i {
  display: inline-block;
  font-size: 16px;
  width: 13px;
  height: 13px;
  line-height: 13px;
  position: relative;
}

#lower-footer {
  padding: 39px 0;
  height: 19px;
  background-color: rgb(0, 0, 0);
}

#footer-links {
  list-style-type: none;
  display: inline-block;
}

#footer-links li {
  display: inline-block;
  margin: 0 6px;
}

#footer-links li a {
  text-decoration: none;
  color: rgb(170, 170, 170);
  cursor: pointer;
  display: inline;
  font-family: 'Rajdhani', sans-serif;
  font-size: 14px;
  font-stretch: 100%;
  font-weight: 500;
  line-height: 24px;
  text-transform: uppercase;
}

#footer-links li a:hover {
  color: white;
}

#lower-footer-wrapper {
  color: rgb(170, 170, 170);
  display: block;
  font-family: 'Work Sans', serif;
  font-size: 13px;
  font-stretch: 100%;
  font-weight: 400;
  height: 19px;
  line-height: 19.5px;
  margin-left: 124px;
  margin-right: 124px;
  max-width: 1192px;
  padding-left: 20px;
  padding-right: 20px;
  text-align: center;
}

#lower-footer-wrapper span {
  color: rgb(170, 170, 170);
  display: inline;
  font-family: 'Work Sans', serif;
  font-size: 13.5px;
  font-stretch: 100%;
  font-weight: 400;
  line-height: 19.5px;
  text-align: center;
  margin: 0 3px;
}

#lower-footer-wrapper a {
  cursor: pointer;
  display: inline;
  font-family: 'Work Sans', serif;
  font-size: 13px;
  font-stretch: 100%;
  font-weight: 400;
  line-height: 19.5px;
  text-align: center;
}

#lower-footer-wrapper a img {
  cursor: pointer;
  display: inline-block;
  font-family: 'Work Sans', serif;
  font-size: 13px;
  font-stretch: 100%;
  font-weight: 400;
  height: 9px;
  line-height: 19.5px;
  margin-right: 1px;
  max-width: 100%;
  text-align: center;
}
